body {
    color: #434455;
    background-color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

ul {
    list-style-type: none;
}


h1 {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;

}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

}

h2 {
    color:  #2E2F42;
    font-size: 36px;
    font-weight: 700; 
    line-height: 1.1;
        
}

/* header */

.header-logo {
  color:#4d5ae5 ;  
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.17;
 text-decoration: none;
 letter-spacing: 0.03em;
 text-transform: uppercase;
}

.header-logo .accent {
color: #2e2f42;
}

.header-link {
    color: #2E2F42; 
    font-weight: 500;
    line-height: 1.5 ;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.header-link:hover {
    color: #404bbf;
}

.header-nav {
    color: #434455;
    text-decoration: none;
    font-size: 16px;
    line-height: 1,5; 
    font-style: normal;
    letter-spacing: 0.02em;
}

.header-nav:hover {
color: #404BBF; 
}


.header-nav:focus{

    color: #404bbf;
}


/* main */



.main-section {
    background: #2E2F42;
}

.button {
    background: #4D5AE5;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.button:hover {
background:  #404BBF;
}



.bnf-text {
 color:  #434455;
 font-size: 16px;
 line-height: 1.5;
  
}

.team-job {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
        
}

.person-job {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
        
}

/* footer */
.info {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
       
}

.footer-logo {
    
        color: #4d5ae5;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        text-decoration: none;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
        


.footer-logo .accent {
    color: #F4F4FD;
    
}

footer {
    background:  #2E2F42;
}